<main class="flex justify-start items-center flex-col h-screen">
  <section class="relative w-full h-full">
    <video
      src="assets/share.mp4"
      loop
      muted
      autoplay
      class="w-full h-full object-cover"
    ></video>
    <div
      class="absolute flex flex-col justify-center items-center top-0 right-0 left-0 bottom-0 bg-blackOverlay"
    >
      <div class="p-5">
        <img src="assets/logowhite.png" alt="logo" width="130px" />
      </div>
      <div class="shadow-2xl">
        <button
          (click)="authService.loginWithRedirect()"
          class="bg-mainColor flex justify-center items-center p-3 rounded-lg cursor-pointer outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
            />
          </svg>
          Sign In with Google
        </button>
      </div>
    </div>
  </section>
</main>
