<div
  class="flex flex-col justify-between ng-white h-full overflow-y-scroll min-w-210 hide-scrollbar"
>
  <div class="flex flex-col">
    <a
      routerLink="/home"
      class="flex px-5 gap-2 my-6 pt-1 w-190 items-center"
      (click)="toggleSidebar(false)"
    >
      <img src="assets/logo.png" alt="logo" class="w-full" />
    </a>
    <div class="flex flex-col gap-5">
      <a
        routerLink="/home"
        [ngClass]="router.url === '/home' ? isActiveStyle : isNotActiveStyle"
        (click)="toggleSidebar(false)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
          />
        </svg>
        Home
      </a>
      <h3 class="mt-2 px-5 text-base 2xl:text-xl">Discover Categories</h3>
      <ul *ngFor="let category of categories">
        <a
          routerLink="categories/{{ category.name }}"
          [ngClass]="
            router.url === '/home/categories/' + category.name
              ? isActiveStyle
              : isNotActiveStyle
          "
          (click)="toggleSidebar(false)"
          >{{ category.name }}</a
        >
      </ul>
    </div>
  </div>
  <div>
    <a
      [routerLink]="['/profile', currentUser?.nickname]"
      class="flex my-5 mb-3 gap-2 p-2 items-center bg-white rounded-lg shadow-lg mx-3"
      ><img
        src="{{ currentUser?.picture }}"
        alt="User-Profile"
        class="w-10 h-10 rounded-full"
      />
      <p>{{ currentUser?.name }}</p>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
